:root {
  color-scheme: light;
}

/* ---------- BASE ---------- */

body {
  background: #2b2b2b;
  color: #e5e5e5;
}

/* ---------- LAYOUT ---------- */

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

/* ---------- CARDS ---------- */

.card {
  background: #ffffff;
  color: #111111;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}


/* listas */

.card ul {
  padding-left: 20px;
}

.card li {
  font-size: 18px;
  font-weight: 500;
}
/* ---------- BOTONES ---------- */

button {
  background: #2d2d2d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #3c3c3c;
}

table th {
  text-align: left;
  background: #f2f2f2;
  color: #111;
  padding: 10px;
}

table td {
  background: white;
  color: #222;
  padding: 10px;
  border-top: 1px solid #ddd;
}

/* BASE */
.btn {
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* VARIANTES */
.btn-primary {
  background: #2d2d2d;
  color: white;
  padding: 8px 14px;
}

.btn-primary:hover {
  background: #3c3c3c;
}

/* BOTONES CHICOS (+ -) */
.btn-icon {
  width: 26px;
  height: 26px;
  padding: 0;
  background: #fff;
  color: #111;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
}

/* BOTÓN PRODUCTO */
.btn-product {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  background: #2d2d2d;
  color: white;
}

.navbar {
  background: #1e1e1e;
  color: white;
}

.navbar span {
  color: white;
}